<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title> Matteo Table Reservation </title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='reserve-table.css') }}">
</head>
<body>
    <section class="header">
        <nav>
            <a href="/templates/welcome-page.html">
                <img src="all-images/temp-logo.png" alt="Image" class="nav-logo">
            </a>
            <div class="nav-links">
                <ul>
                    <li><a href="/templates/about.html">ABOUT</a></li>
                    <li><a href="/templates/reserve-table.html">RESERVE A TABLE</a></li>
                    <li><a href="/templates/my-reservations.html">MY RESERVATIONS</a></li>
                </ul>
            </div>
        </nav>
        <h1> This is the Reserve Table Page! </h1>
    </section>

</body>