{% extends 'base.html' %}


{% block head %} 
<title> Room D </title>
{% endblock %}

{% block body %} 

<div class="content">

    <h1> Reservation System Here for Room D</h1>
    <table>
        <h2> Choose a Table </h2>

        <div class="content">

            <a href="D1.html">Table 1</a>
            <br>
            <a href="D2.html">Table 2</a>
            <br>
            <a href="D3.html">Table 3</a>
            <br>
            <a href="D4.html">Table 4</a>
            <br>
            <a href="D5.html">Table 5</a>
            <br>
            <a href="D6.html">Table 6</a>
            <br>
            <a href="D7.html">Table 7</a>
            <br>
            <a href="D8.html">Table 8</a>
            <br>
            <a href="D9.html">Table 9</a>
            <br>
            <a href="D10.html">Table 10</a>
            <br>
            <a href="D11.html">Table 11</a>
            <br>
            <a href="D12.html">Table 12</a>
            <br>
            <a href="D13.html">Table 13</a>
        
        </div>
      <br><br>          
<a href="/">Go back</a>
</div>

{% endblock %}

